@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-screen-layout-offset {
    @apply min-w-[4rem] xl:min-w-[18rem] desktop:min-w-[24rem] desktop-xl:min-w-[32rem];
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter';
  @apply h-full;
}

#__next {
  @apply h-full;
}


body {
  @apply bg-zinc-100;
}

h1 {
  @apply text-7xl font-bold;
}

h2 {
  @apply text-4xl font-semibold;
}

h3 {
  @apply text-3xl font-semibold;
}

h4 {
  @apply text-xl;
  @apply font-medium;
}

ul {
  @apply list-inside;
}

li {
  @apply list-disc;
  @apply indent-[-1em] pl-[1em];
  @apply leading-tight;
}

.Hero {
  @apply relative z-[4] before:z-[-1] before:w-full before:h-full before:absolute;
}

.hero-theme-1 {
  @apply before:bg-gradient-to-br before:from-cyan-500 before:to-green-800
}

.hero-theme-1 .Title {
}

.hero-theme-2 {
  @apply before:bg-gradient-to-br before:from-amber-600 before:to-fuchsia-700
}

.hero-theme-2 .Title {
  @apply text-zinc-100;
}

.hero-theme-2 .Subtitle {
  @apply text-zinc-100;
}

.Hero.hero-theme-2 .Tagline {
  @apply text-white;
}

.hero-theme-3 {
  @apply before:bg-gradient-to-br before:from-slate-900 before:to-slate-700
}

.hero-theme-3 .Title {
  @apply text-zinc-100;
}

.hero-theme-3 .Subtitle {
  @apply text-zinc-100;
}

.Hero.hero-theme-3 .Tagline {
  @apply text-white;
}