@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-screen-layout-offset {
    @apply min-w-[4rem] xl:min-w-[18rem] desktop:min-w-[24rem] desktop-xl:min-w-[32rem];
  }

  .theme-responsive-bg {
    @apply bg-zinc-100 dark:bg-black;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  @apply border-zinc-400 dark:border-zinc-800;
  @apply text-zinc-900 dark:text-slate-100;
  /* transition: all 0.5s; */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  /* max-width: 100vw; */
  font-family: 'Inter', 'sans-serif';
  @apply overflow-hidden;
  @apply w-screen;
  /* @apply text-lg; */
  /* @apply h-full; */
}

#__next {
  @apply h-full;
}

body {
  /* @apply bg-zinc-100; */
  /* overflow-y: scroll; */
}

h1 {
  @apply text-7xl font-bold;
}

h2 {
  @apply text-4xl font-semibold;
}

h3 {
  @apply text-3xl font-semibold;
}

h4 {
  @apply text-xl;
  @apply font-medium;
}

ul {
  @apply list-inside;
}

li {
  @apply list-disc;
  @apply indent-[-1em] pl-[1em];
  @apply leading-tight;
}